<h1>Olá <%= @user%></h1>
<div class = "Home">    
    <div><p>Criar Tarefa</p>
    <form action="/tarefa" method = "post">
        <input type="text" name = "tafera" placeholder="Digite uma nova tarefa" required>
        <button type = "submit"> Adicionar tafera</button>
    </form>
</div>
<div><p>Tarefas Pendentes</p>
    <ul>
        <% @tarefas.each do |tarefa|%>
        <% if tarefa[4] == @user %>
            <% if tarefa[2] == 0%>
            <li> <%= tarefa[1]%>
            <form action="/feito" method="post" class = "Home">
                <input type="hidden" name="tarefa" value="<%= tarefa[1] %>">
                <button type="submit">Feito</button>
            </form>
        </li>
        <% end %>
        <% end %>
        
        <% end %>
    </ul>
</div>
<div><p>Tarefas Conclúidas</p>
    <ul>
        <% @tarefas.each do |tarefa|%>
            <% if tarefa[4] == @user %>
                <% if tarefa[2] == 1%>
                    <li> <%= tarefa[1]%></li>
                <% end %>
            <% end %>
        <% end %>
    </ul>
</div>
<div><p>Histórico </p>
    <table>
    <thead>
        <tr>
            <th>Tarefa</th>
            <th>Status</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <% @tarefas.each do |tarefa| %>
            <% if tarefa[4] == @user %>
                <tr>
                    <td><%= tarefa[1] %></td>
                    <td><%= tarefa[2] == 0 ? "Pendente" : "Feita" %></td>
                    <td><%= tarefa[3] %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
</div>

</div>